<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1500" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="Keywords" content="SpaceX VPN, Free VPN, Free Proxy, free application, SpaceX, VPN, Proxy, application, smart phone application, network, protect, free, fast, secure, safe, worldwide, explore, connect, browsing, video watching, photo viewing">
	<meta name="description" content="Get SpaceX VPN - High speed, secure, and free VPN to protect your download file, video watching, and blog viewing from malware attack. Support multiple platforms and devices.">
	<link rel="icon" type="image/ico" href="images/favicon2.ico" />
	<link rel="stylesheet" href="css/mainClient.css">
	<link rel="stylesheet" href="css/resetCss.css">
	<link rel="stylesheet" href="css/bottom.css">
	<link rel="stylesheet" href="view/index/index.css">
	<link rel="stylesheet" href="css/tooltip.css">
	<link rel="stylesheet" href="aos/2.3.4/aos.css" />
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/easydropdown.metro.css">
	<title i18n="home.top">SpaceX VPN:The Fastest VPN to protect privacy with no cost</title>
</head>


<body>
	<div id="app">
		<div class="container showBox mainkuno hasindexbigw">
			<section class="el-container changecontent" style="width: 100%; height: 100%; min-width: 1550px; overflow: hidden;">
				<section class="el-container containerkuno" style="position: absolute">
					<header id="myHeader" class="isIndexHeader headerkuno" style="text-align: right; font-size: 12px; padding-left: 0px; padding-right: 0px;top:0">
						<div class="indexheaderkuno">
							<div class="topiconwarp flex1"><img src="images/new_logo2.png" alt="SpaceX VPN"></div>
							<div class="topcontentwarp">
								<div class="menuItem active"><span i18n="top_menu.home">Home</span></div>
								<div class="menuItem" onclick="changeRouter('/free')"><span i18n="top_menu.free_reason">Free Reason</span></div>
								<div class="menuItem" onclick="changeRouter('/privacy')"><span i18n="top_menu.privacy">Privacy Protection</span></div>
								<div class="menuItem" onclick="changeRouter('/download')"><span i18n="top_menu.download">获取 SpaceX VPN</span></div>
							
							</div>
						</div>
					</header>
					<div class="quchubmo" style="overflow: auto;">
						<div class="floatParent" style="height: 100%;">
							<main class="el-main actmain">
								<div class="indexwarp">
									<div class="bigbanner">
										<div class="ball blue">
											<div></div>
										</div>
										<div class="ball purple">
											<div></div>
										</div>
										<div class="bigbanner_content">
											<div class="banner_title">
												<transition name="fadeLeft">
													<div class="fadeLeft" style=" position: absolute;z-index: 3;" v-if="showAnimate"><span  i18n="home.title1">SpaceX</span><span
															class="blue" i18n="home.title2">VPN</span></div>
												</transition>
											</div>
											<div class="fadeLeftWarp">
												<transition name="fadeLeft2">
													<div class="bigbanner_desp" v-if="showAnimate&&mosueClick">
														<h2 class="desp_conten">
															<div></div><span i18n="home.desp_content.title1">Totally Free</span>
														</h2>
														<h2 class="desp_conten">
															<div></div><span i18n="home.desp_content.title2">Fast and Stable Connection</span>
														</h2>
														<h2 class="desp_conten">
															<div></div><span i18n="home.desp_content.title3">Privacy Will Be Well-Protected</span>
														</h2>
														<h2 class="desp_conten">
															<div></div><span i18n="home.desp_content.title4">Servers Are Deployed Around The World</span>
														</h2>
													</div>
												</transition>
											</div>
											<div class="bigbanner_footer">
												<transition name="fadeLeft3">
													<div class="type" v-if="showAnimate">
														<img src="images/type1.png" alt="Windows">
														<img src="images/type2.png" alt="Mac">
														<img src="images/type3.png" alt="Android">
														<img style="margin-right: 0;" src="images/type4.png" alt="IOS">
													</div>
												</transition>
												<transition name="fadeLeft4">
													<div class="btn" v-if="showAnimate">
														<button type="button" class="el-button button-sweep el-button--default" onclick="changeRouter('/download')"><span i18n="home.btn.get">获取 SpaceX VPN</span></button>
														<!-- @mouseover.native="onMouseOver" @mouseout="onMouseOut"-->
													</div>
												</transition>
											</div>
											<transition name="fadeBottomRight">
												<img class="fiximg" v-if="showAnimate" src="images/first_1.png" alt="rocket">
											</transition>
											<transition name="fadeBottomRight_q1">
												<img class="qiu1" v-if="showAnimate" src="images/q1.png" alt="SpaceX VPN">
											</transition>
											<transition name="fadeBottomRight_q2">
												<img class="qiu2" v-if="showAnimate" src="images/q2.png" alt="SpaceX VPN">
											</transition>
											<transition name="banner_fade_1">
												<img class="banner_icon_1" v-if="showAnimate" src="images/banner_1.png" alt="SpaceX VPN">
											</transition>
											<transition name="banner_fade_2">
												<img class="banner_icon_2" v-if="showAnimate" src="images/banner_2.png" alt="YouTube">
											</transition>
											<transition name="banner_fade_3">
												<img class="banner_icon_3" v-if="showAnimate" src="images/banner_3.png" alt="SpaceX VPN">
											</transition>
											<transition name="banner_fade_4">
												<img class="banner_icon_4" v-if="showAnimate" src="images/banner_4.png" alt="SpaceX VPN">
											</transition>
										</div>
									</div>
									<div class="second_content">
										<!-- <div class="bg_purple ball"  style="position:absolute;z-index:3"></div>
										<div class="bg_blue ball"  style="position:absolute;z-index:3"></div> -->
										
										<h1 class="title"><span i18n="home.sec_content.title1">SpaceX VPN </span><span i18n="home.sec_content.title2">Philosophy</span></h1>
										<h2 class="desp" i18n="home.sec_content.desp">Our app is designed to keep your internet world safe and private, prevent your ISP and government
											from spying on you and the wbsites you visit from identifying and tracking you, we are aim to provide a free and
											open internet world for all.</h2>
										<div class="second_content_2">
										
											<div class="second_list">
												<div class="second_item">
													<div class="img_warp">
														<img src="images/r1.png" alt="SpaceX VPN Philosophy"/>
														<p class="number">01</p>
													</div>
													<h3 class="title" i18n="home.sec_content.why.title">Why is SpaceX VPN free?</h3>
													<h4 class="desp" i18n="home.sec_content.why.desp">SpaceX VPN pay for your VPN service to freely surf the internet. In return, we would collect
														your leisure bandwidth to search the public web information, without any bother to your usage. Don't
														worry, the whole process is harmless.</h4>
													<div class="footer">
														<div onclick="changeRouter('/free')">
															<h5 i18n="home.btn.undestand_more">Understand More</h5>
															<span class=" icon-warp iconfont icon-arrow-right"></span>
														</div>
													</div>
												</div>
												<div class="second_item">
													<div class="img_warp">
														<img src="images/r2.png" alt="Why is SpaceX VPN free"/>
														<p class="number">02</p>
													</div>
													<h3 class="title" style="margin-bottom: 56px;" i18n="home.sec_content.does.title">Does SpaceX VPN sell your personal information?</h3>
													<h4 class="desp" style="margin-bottom: 58px;" i18n="home.sec_content.does.desp">No! and we don't want any of your information. Your personal
														information will not be collected and it is well-protection, or we would be in jail.</h4>
													<div class="footer">
														<div onclick="changeRouter('/privacy')">
															<h5 i18n="home.btn.undestand_more">Understand More</h5>
															<span class=" icon-warp iconfont icon-arrow-right"></span>
														</div>
													</div>
												</div>
											</div>
											<div class="second_list">
												<div class="second_item">
													<div class="img_warp">
														<img src="images/r3.png" alt="Does SpaceX VPN sell your personal information"/>
														<p class="number">03</p>
													</div>
													<h3 class="title" style="margin-bottom: 56px;" i18n="home.sec_content.network.title">Network protection</h3>
													<h4 class="desp" style="margin-bottom: 48px;" i18n="home.sec_content.network.desp">cookie tracer will be block and there will be no trace when you
														browse the internet，your Real IP address is hidden, your network is under protected from network attack.
													</h4>
													<div class="footer">
														<div onclick="changeRouter('/privacy')">
															<h5 i18n="home.btn.undestand_more">Understand More</h5>
															<span class=" icon-warp iconfont icon-arrow-right"></span>
														</div>
													</div>
												</div>
												<div class="second_item">
													<div class="img_warp" >
														<img src="images/r4.png" alt="Network protection" />
														<p class="number">04</p>
													</div>
													<h3 class="title" i18n="home.sec_content.support.title">Support multiple platforms</h3>
													<h4 class="desp" style="margin-bottom: 21px;" i18n="home.sec_content.support.desp">SpaceX VPN supports multiple devices and does not limit the
														number of devices you can use, no matter it is mobile, tablet, or computer.
													</h4>
													<div class="type" >
														<img src="images/type1.png" alt="Windows">
														<img src="images/type2.png" alt="Mac">
														<img src="images/type3.png" alt="Android">
														<img src="images/type4.png" alt="Ios">
													</div>
													<div class="footer">
														<div onclick="changeRouter('/download')"><h5 i18n="home.btn.download">获取 SpaceX VPN</h5>
															<span class=" icon-warp iconfont icon-arrow-right"></span>
														</div>
													</div>
												</div>
											</div>
									
									
											
										</div>
									</div>
									<div style="overflow: hidden;">
										<div class="user_warp">
											<h3 class="title" i18n="home.seventh_content.title">Easy To Use</h3>
											<h4 class="desp" i18n="home.seventh_content.desp">For your privacy and security, we do not track or store logs of your browsing history traffic
												destinations, data content or DNS queries</h4>
											<div class="user_warp_content">
												<div class="user_item">
													<img class="icon" src="images/use1.png" alt="Download">
													<h5 class="content" i18n="home.seventh_content.content1">获取 SpaceX VPN</h5>
													<p class="number">1</p>
												</div>
												<div class="user_item">
													<img class="icon" src="images/use2.png" alt="Install">
													<h5 class="content" i18n="home.seventh_content.content2">Install</h5>
													<p class="number">2</p>
												</div>
												<div class="user_item">
													<img class="icon" src="images/use3.png" alt="Enable VPN">
													<h5 class="content" i18n="home.seventh_content.content3">Enable VPN</h5>
													<p class="number">3</p>
												</div>
												<div class="user_item">
													<img class="icon" src="images/use4.png" alt="Use">
													<h5 class="content" i18n="home.seventh_content.content4">Use</h5>
													<p class="number">4</p>
												</div>
											</div>
											<div class="btn-warp">
												<button type="button" class="el-button button-sweep el-button--default" onclick="changeRouter('/download')"><span i18n="home.btn.get">获取 SpaceX VPN</span></button>
											</div>
							
										</div>
										<div class="footer-warp-last">
											<div class="bg_purple ball"></div>
											<div class="bg_blue ball"></div>
											<div class="bottom-warp-s">
												<div class="new-bottom-warp">
													<div class="bottom-title">
														<img src="images/new_logo2.png" alt="SpaceX VPN">
													</div>
													<div class="bottom-content">
														<div class="bottom-item">
																<p class="bottom-item-title" i18n="bottom.commonly_Used.title">Commonly Used</p>
																<div class="bottom-item-content">
																		<p onclick="changeRouter('/free')" i18n="bottom.commonly_Used.content.free">Why we are free?</p>
																		<p onclick="changeRouter('/download')" i18n="bottom.commonly_Used.content.download">获取 SpaceX VPN</p>
																</div>
														</div>
														<div class="bottom-item" style="margin-left: 30px;">
																<p class="bottom-item-title" i18n="bottom.policy.title">Policy</p>
																<div class="bottom-item-content">
																		<p onclick="changeRouter('/legal/privacy-policy')" i18n="bottom.policy.content.privacy">Privacy Policy</p>
																		<p onclick="changeRouter('/legal/user-agreement')" i18n="bottom.policy.content.agreement">User Agreement</p>
																</div>
														</div>
														<div class="bottom-item flex1">
															<p class="bottom-item-title" i18n="bottom.contact.title">Contact us</p>
															<div class="bottom-item-content">
																<p><span i18n="bottom.contact.content.email">Email: </span>contact@SpaceXVPN.com</p>
																<p i18n="bottom.contact.content.address">Address: UNIT 1808 SOUTH BANK TOWER, 55 UPPER GROUND, LONDON, SE1 9EY</p>
																<p><span i18n="bottom.contact.content.tel">Tel: </span>+852 4404 8778</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</main>
						</div>
					</div>
				</section>
			</section>
			<div class="download-shadow" id="showShadow" style="display:none">
				<div class="shade" onclick="hideShadow()"></div>
				<div class="content">
				  <div class="first">
					<img src="images/WhitehatVPN_bg.png">
				  </div>
				  <div id="showShadow_content">
					<p class="title" i18n="download_shadow.title">How to install</p>
					<p class="desp" i18n="download_shadow.desp">SpaceXVPN-Desktop App</p>
					<div class="remark">
						<p><span i18n="download_shadow.remark1">Once the download is complete：</span><br /><span i18n="download_shadow.remark2">Run</span>&nbsp;<span id="downloadAppName"></span>&nbsp;<span i18n="download_shadow.remark3">to open it</span></p>
						<img src="images/down_img.png">
					</div>
					<div class="warnwarp">
						<img src="images/warn_icon.png">
						<span><span i18n="download_shadow.warnwarp1.span1" style="color:#a6a6a6">your download does not start,</span><span onclick="downloadAgain()" i18n="download_shadow.warnwarp1.span2">click here</span></span>
					</div>
					<div class="warnwarp">
						<img src="images/warn_icon.png">
						<span><span  onclick="changeRouter2()" i18n="download_shadow.warnwarp2">How to connect SpaceX VPN/Swtich country</span></span>
					</div>
					<div class="btn-warp">
						<img src="images/down_icon.png" id="showBtnIcon" style="display:none">
					</div>
				  </div>
				</div>
			</div>
		</div>
		<!-- <div class="ip_Pass" style="display:none" i18n="ip_pass">Access is not supported in your country or region</div> -->
		<div class="shade_warp_main" id="showShadeWarp" style="display:none">
			<div class="shade_warp_content">
			  <span class="el-icon-close icon-warp iconfont icon-guanbi" onclick="hide_hade_warp('showShadeWarp')"></span>
			  <h2 class="title">notice</h2>
			  <h3 class="content">Due to business development needs, SpaceX VPN officially changed its name to SpaceX VPN, users who have installed SpaceX VPN will not affect the use</h3>
			  <div class="btn-warp">
				<button class="el-button" onclick="hide_hade_warp('showShadeWarp')">Sure</button>
			  </div>
			</div>
		</div>
	</div>

</body>
<script src="jquery/3.6.1/jquery.min.js" ></script>
<script src="js/plugins/aos.js"></script>
 <script src="js/plugins/countriesAndRegionsArr.js"></script>
<script src="js/main.js"></script>
<script src="js/plugins/jquery.qrcode.min.js"></script>
<script src="view/index/index.js"></script>
<script src="js/plugins/tooltip.js"></script>
<script src="js/plugins/jquery.i18n.js"></script>
<script src="js/plugins/jquery.easydropdown.min.js"></script>
<script src="lang/index.js"></script>
<script>
$(function(){
	AOS.init({
		disable: 'mobile',
	})
	var region_from_ip=null 
	region_from_ip = sessionStorage.getItem('region_from_ip')
	if(!region_from_ip||region_from_ip==''){
		get_region_from_ip()
	}else{
		region_from_ip = JSON.parse(region_from_ip)
		setRegion(region_from_ip)
	}
	getDownloadUrl()
	$('#elTooltip').tooltip({text: 'Do you want to protect your Internet connection?Get SpaceXVPN and connect to our server.'});
})
var indexWarpBg=false
$(".indexwarp").scroll(function(){
	// console.log(11);
	var st=$(".indexwarp").scrollTop()
    if(st>135){
		changeIndexBg(true);
	}else{
		changeIndexBg(false);
	}
	AOS.refresh();
});
function changeIndexBg(num) {
	indexWarpBg = num;
	showtopclass()
	//console.log('ssss'+num)
}
function showtopclass(){
	let str = "";
	// console.log(st)
	if (indexWarpBg) {
		str = "isIndexHeader headerkuno normal";
		$("#myHeader").attr('class',str)
	} else {
		str = "isIndexHeader headerkuno";
		$("#myHeader").attr('class',str)
	}
}
if(window.location.href.includes('theSpaceXVPN')){
	$('#showShadeWarp').show()
}
function hide_hade_warp(str){
	$("#"+str).hide()
}
$('#elTooltip').tooltip({text: 'Do you want to protect your Internet connection?Get SpaceXVPN and connect to our server.'});

</script>

</html>